@font-face {
	font-family: "Card Characters";
	src: url("../assets/fonts/cardcharacters/CardCharacters.woff2") format("woff2"),
		url("../assets/fonts/cardcharacters/CardCharacters.woff") format("woff"),
		url("../assets/fonts/cardcharacters/CardCharacters.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
