@use "_variables" as *;

@mixin phone-l {
	@media (min-width: $max-width-phone) {
		@content;
	}
}
@mixin tablet-p {
	@media (min-width: $max-width-tablet-p) {
		@content;
	}
}
@mixin tablet-l {
	@media (min-width: $max-width-tablet-l) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: $max-width-desktop) {
		@content;
	}
}
@mixin desktop-big {
	@media (min-width: $max-width-desktop-big) {
		@content;
	}
}

@mixin font($ff: $ff-two, $fw: normal, $fz: $fz-base, $lh: 1, $tt: none, $ls: normal, $col) {
	font-family: $ff;
	font-weight: $fw;
	font-size: $fz;
	line-height: $lh;
	text-transform: $tt;
	letter-spacing: $ls;
	color: $col;
}
