$max-width-phone: 576px;
$max-width-tablet-p: 768px;
$max-width-tablet-l: 992px;
$max-width-desktop: 1200px;
$max-width-desktop-big: 1400px;

// COLORS -----------------------------------------

$color-dark-1: #000000;
$color-dark-2: #35312d;
$color-dark-3: #202020;

$color-light-1: #f8f1ea;
$color-light-2: rgba(248, 241, 234, 0.7);
$color-light-3: #cac2ba;
$color-light-4: #fff;

$color-main-1: #c62100;
$color-main-2: #f16a50;

$ff-main: "Montserrat", sans-serif;

$header-height: 80px;
$header-height-mobile: 60px;
