// * BASE COLORS
$color-base-1: #000000;
$color-base-2: #ffffff;

// * GRAY SHADES
$color-grey-900: #323232;
$color-grey-700: #565656;
$color-grey-500: #7b7b7b;
$color-grey-300: #cccccc;
$color-grey-100: #f4f4f4;

// * SEMANTIC COLORS
$color-errors: #e10000;

// * FONT FAMILY
$ff-one: "Lato", sans-serif;
$ff-two: "Red Hat Display", sans-serif;

// * LETTERSPACES
$ls-one: 0.1em;
$ls-two: 0.3em;
$ls-three: 0.5em;

// * FONT SIZES
$fz-base: 16px;
$fz-48: 3rem;
$fz-33: 2.0625rem;
$fz-23: 1.4375rem;
$fz-19: 1.1875rem;
$fz-14: 0.875rem;
$fz-13: 0.8125rem;
$fz-12: 0.75rem;
