// * COLORS - TEXT
$col-text-1: #392c72;
$col-text-2: #4f4f4f;
$col-text-3: #828282;
$col-text-4: #bdbdbd;
$col-text-5: #fff;

// * COLORS - ELEMENTS
$col-elm-1: #9e8cfc;
$col-elm-2: #ea5455;
$col-elm-3: #f2c94c;
$col-elm-4: #6fcf97;
$col-elm-5: #283046;
$col-elm-6: #161d31;
$col-elm-7: #fff;

// * FONT STYLES
$ff-base: "Montserrat", sans-serif;
$fz-base: 16px;
$fz-1: 1.125em;
$fz-2: 12px;

$fw-1: 400;
$fw-2: 500;
$fw-3: 700;

$lh-1: 1.22em;
