@use "_variables" as *;
@use "_mixins" as *;

.footer {
	padding: 80px 0;
	background-color: $col-bg-footer;
	&__logo {
		text-align: center;
	}
	&__socials {
		margin: 20px auto 0;
	}
}
.socials {
	display: flex;
	justify-content: center;
	gap: 28px;
	@include phone {
		gap: 32px;
	}
	&__link {
		display: inline-block;
		position: relative;
		width: 36px;
		height: 32px;
	}
	&__link svg {
		display: inline-block;
		fill: $col-text;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&:hover {
			fill: $col-icons-bg-hov;
		}
	}
}
