@use "_variables" as *;
@use "_mixins" as *;

.header {
	height: 100vh;
	background-image: url("../assets/images/backgrounds/bg-hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0 15px;
	@media (min-height: 400px) {
		padding: 80px 0 20px;
	}
	@media (min-height: 500px) {
		padding: 140px 0 30px;
	}
	@media (min-height: 600px) {
		padding: 200px 0 60px;
	}
	@media (min-height: 862px) {
		padding: 295px 0 120px;
	}
	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__inner {
		width: 100%;
	}
	&__logo {
		text-align: center;
	}
	&__search {
		margin: 48px auto 0;
		width: 100%;
		max-width: 647px;
		height: auto;
		@media (max-height: 400px), (max-width: 575px) {
			margin: 20px auto 0;
		}
		@include phone {
			height: 60px;
		}
	}
}
.search-form {
	border: 4px solid $col-border;
	display: flex;
	height: auto;
	background-color: $col-bg-2;
	flex-direction: column;
	@include phone {
		flex-direction: row;
		height: 60px;
	}
}
.search-form input {
	display: inline-block;
	flex-grow: 1;
	outline: none;
	border: none;
	box-shadow: none;
	padding: 0 6px;
	height: 60px;
	@include font-body1(null, $col-text-2);
	vertical-align: top;
	@include phone {
		height: initial;
		padding: 0 36px;
	}
	&::placeholder {
		text-align: center;
		text-transform: capitalize;
		@include phone {
			text-align: left;
		}
	}
	&:focus::placeholder {
		color: transparent;
	}
}
.scroll-down {
	text-align: center;
	animation: heartbeat 6s infinite;
	display: inline-block;
	width: fit-content;
	&__text {
		@include font-body1(capitalize, $col-text);
		display: block;
	}
	&__icon {
		display: inline-block;
		height: 16px;
		margin-top: 4px;
		& svg {
			display: inline-block;
			width: 14px;
			height: 16px;
			fill: $col-icons-bg-2;
		}
	}
}
@keyframes heartbeat {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.2);
	}
	10% {
		transform: scale(1);
	}
	15% {
		transform: scale(1.2);
	}
	20% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
