@use "_variables" as *;
@use "_mixins" as *;

.main {
	&__title {
		@include font($ff-two, 600, 30px, 50px, none, 0.05em, $color-base-1);
	}
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
	@include tablet {
		padding: 0 35px;
	}
	@include desktop {
		padding: 0 135px;
	}
}
.section {
	&__content {
	}
}
.blog-preview {
	margin-top: 70px;
	@include tablet {
		margin-top: 70px;
	}
	@include desktop {
		margin-top: 90px;
	}
	&:first-of-type {
		margin-top: 40px;
		@include tablet {
			margin-top: 50px;
		}
		@include desktop {
			margin-top: 70px;
		}
	}
	&:first-of-type &__image-title {
		display: flex;
		flex-direction: column-reverse;
	}

	&:first-of-type &__text-container {
		margin-top: 40px;
		@include tablet {
			margin-top: 50px;
		}
		@include desktop {
			margin-top: 50px;
			max-width: 570px;
		}
	}

	&:first-of-type &__image-container {
		margin-top: 0px;
	}

	&:first-of-type &__title {
		margin-top: 70px;
		@include tablet {
			margin-top: 90px;
		}
		@include desktop {
			margin-top: 90px;
		}
	}

	&__image-container {
		margin-top: 40px;
		@include tablet {
			margin-top: 50px;
		}
		@include desktop {
			margin-top: 50px;
		}
	}

	&__image-container img {
		width: 100%;
	}

	&__title {
	}

	&__link {
		@include font($ff-two, 600, 26px, 43px, none, 0.1em, $color-base-1);
	}

	&__text-container {
		margin-top: 20px;
		@include font($ff-one, 400, 16px, 32px, none, 0.05em, $color-base-1);
	}

	&__text-container p + p {
		margin-top: 32px;
	}
}
