$color-h2: #666666;
$color-text: #333333;
$color-decor: #ffcc00;
$color-subtitle: #898f8f;

$font-h1: "Roboto", sans-serif;
$font-subtitle: "Raleway", sans-serif;
$font-name: "Roboto", sans-serif;
$font-position: "Roboto", sans-serif;
$font-btn: "Open Sans", sans-serif;

$fz-subtitle: 18px;
$fw-subtitle: 500;
