@use "_reset";
@use "_fonts";
@use "_variables" as *;
@use "_mixins" as *;
@use "header";
@use "main";
@use "aside";
@use "footer";

.wrapper {
	max-width: 1170px;
	margin: 122px auto;
	padding: 0 70px;
}
