@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.pagination {
	width: fit-content;
	margin: 50px auto 50px;
	&__btn {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 1px solid $color-bg-3;
		border-radius: 50%;
		transition: all 0.3s ease-in-out;
		background-color: transparent;
		color: $color-text-3;
		font-family: $font-family-1;
		font-weight: 700;
		&:hover {
			border: 1px solid $color-bg-1;
			background-color: $color-bg-1;
		}
		&--active {
			border: 1px solid $color-bg-3;
			background-color: $color-bg-3;
			cursor: initial;
			color: $color-text-2;
			&:hover {
				border: 1px solid $color-bg-3;
				background-color: $color-bg-3;
			}
		}
		&--disable {
			transition: all 0s ease-in-out;
			visibility: hidden;
		}
	}
	&__btn + &__btn {
		margin-left: 15px;
	}
}
