@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.advatages {
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
		gap: 15px;
		@include tablet-l {
			justify-content: space-between;
			flex-direction: row;
			flex-grow: 0;
		}
	}
	&__icon-container {
		flex-shrink: 0;
		width: 65px;
		height: 65px;
		border: 2px dotted $color-bg-3;
		border-radius: 50%;
		position: relative;
		transition: all 0.3s ease-in-out;
		color: $color-bg-3;
		font-size: 24px;
		& svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__item:hover &__icon-container {
		transform: scale(1.15);
	}
	&__text-container {
		text-align: center;
		color: $color-text-4;
		@include tablet-p {
			text-align: left;
		}
	}
	&__title {
		color: $color-text-1;
		font-family: $font-family-1;
		font-size: 18px;
		font-weight: 700;
	}
	&__description {
		margin-top: 5px;
	}
}
