@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.button {
	display: inline-block;
	justify-content: space-between;
	align-items: center;
	font-family: $font-family-1;
	padding: 10px 20px;
	transition: all 0.3s ease-in-out;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	&--solid {
		background-color: $color-bg-3;
		border: 2px solid $color-bg-3;
		border-radius: 50px;
		color: $color-text-2;
		&:hover {
			background-color: $color-bg-1;
			border: 2px solid $color-bg-1;
			color: $color-text-3;
		}
	}
	&--regular {
		background-color: transparent;
		border: 2px solid $color-bg-3;
		border-radius: 50px;
		color: $color-text-2;
		&:hover {
			background-color: $color-bg-3;
		}
	}
	&__icon {
	}
	&__text {
	}
}
