@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	transition: all 0.3s ease-in-out;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-family: $font-family-1;
	&--solid {
		border: 2px solid $color-bg-3;
		border-radius: 50px;
		background-color: $color-bg-3;
		color: $color-text-2;
		&:hover {
			border: 2px solid $color-bg-1;
			background-color: $color-bg-1;
			color: $color-text-3;
		}
	}
	&--regular {
		border: 2px solid $color-bg-3;
		border-radius: 50px;
		background-color: transparent;
		color: $color-text-2;
		&:hover {
			background-color: $color-bg-3;
		}
	}
	&--orange {
		border: 2px solid $color-bg-3;
		border-radius: 50px;
		background-color: transparent;
		color: $color-text-3;
		&:hover {
			background-color: $color-bg-3;
			color: $color-text-2;
		}
	}
}
.slider-hero .button {
	padding: 10px 15px;
	font-size: 14px;
}
