@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page-contacts {
	&__contact-section {
		padding: 70px 0;
		@include tablet-p {
			padding: 100px 0;
		}
		@include desktop {
			padding: 150px 0;
		}
	}
	&__location-title {
		padding: 95px 0;
		background-color: $color-bg-14;
		text-align: center;
		font-size: 40px;
		font-weight: 600;
	}

	&__location-title-icon {
		margin-right: 20px;
		color: $color-text-3;
	}

	&__location-title-text {
		color: $color-text-2;
	}
	&__location-map {
		height: 700px;
		@include phone-l {
			height: 600px;
		}
	}
}
