@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.pages-header {
	padding: 200px 0 150px;
	background-color: $color-bg-4;
	&__container {
		text-align: center;
	}

	&__pre-title {
		text-transform: uppercase;
		letter-spacing: 7px;
		color: $color-text-3;
		font-weight: 700;
	}

	&__title {
		margin-top: 20px;
		color: $color-text-2;
		font-size: 50px;
		font-weight: 900;
	}
}
