@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.page-blog {
	margin: 100px 0;
	&__posts {
		display: grid;
		justify-content: center;
		gap: 40px 40px;
		grid-template-columns: 1fr;
		width: fit-content;
		margin: 0 auto;
		margin-top: 50px;
		@include phone-l {
			gap: 60px 40px;
			grid-template-columns: 1fr 1fr;
		}
		@include tablet-l {
			gap: 80px 40px;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 80px;
		}
	}
	&__buttons-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
		margin-top: 40px;
	}
	&__buttons {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__buttons-item {
		padding: 8px 15px;
		border-radius: 10px;
		transition: all 0.2s ease-in-out;
		background-color: $color-bg-2;
		cursor: pointer;
		font-family: $font-family-1;
		font-weight: 600;
		&:hover {
			background-color: $color-bg-3;
			color: $color-bg-10;
		}
		&--active {
			background-color: $color-bg-3;
			color: $color-bg-10;
		}
	}
	&__search-container {
		display: flex;
		justify-content: flex-end;
	}
	&__search-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		width: 100%;
		max-width: 400px;
		height: 40px;
		padding: 0 20px;
		border: 1px solid $color-bg-9;
		border-radius: 20px;
		color: $color-text-4;
	}
	& input {
		width: 100%;
		outline: none;
		border: none;
	}
	& input:focus::placeholder {
		color: transparent;
	}
}
