@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.page-blog {
	margin: 100px 0;
	&__posts {
		width: fit-content;
		margin: 0 auto;
		margin-top: 50px;
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr;
		gap: 40px 40px;
		@include phone-l {
			grid-template-columns: 1fr 1fr;
			gap: 60px 40px;
		}
		@include tablet-l {
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 80px;
			gap: 80px 40px;
		}
	}
}
