@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.page-blog {
	margin: 100px 0;
	&__posts {
		width: fit-content;
		margin: 0 auto;
		margin-top: 50px;
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr;
		gap: 40px 40px;
		@include phone-l {
			grid-template-columns: 1fr 1fr;
			gap: 60px 40px;
		}
		@include tablet-l {
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 80px;
			gap: 80px 40px;
		}
	}

	&__buttons-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__buttons-item {
		cursor: pointer;
		background-color: $color-bg-2;
		padding: 8px 15px;
		border-radius: 10px;
		font-family: $font-family-1;
		font-weight: 600;
		transition: all 0.2s ease-in-out;
		&:hover {
			background-color: $color-bg-3;
			color: $color-bg-10;
		}
		&--active {
			background-color: $color-bg-3;
			color: $color-bg-10;
		}
	}
}
