@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
	@include phone-l {
		padding: 0;
	}
	@include tablet-l {
		display: block;
	}
	&__item {
		margin-bottom: 10px;
		width: 50%;

		@include tablet-l {
		}
	}
	&__link {
		width: fit-content;
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-text-5;
		transition: all 0.3s ease-in-out;
		@include phone-l {
			justify-content: flex-start;
		}
		&:hover {
			color: $color-text-3;
			& span {
				margin-right: 20px;
			}
		}
		& span {
			transition: all 0.3s ease-in-out;
			display: block;
			color: $color-text-3;
			margin-right: 12px;
		}
	}
}
