@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.footer-menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px;
	@include phone-l {
		padding: 0;
	}
	@include tablet-l {
		display: block;
	}
	&__item {
		width: 50%;
		margin-bottom: 10px;

		@include tablet-l {
		}
	}
	&__link {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
		width: fit-content;
		transition: all 0.3s ease-in-out;
		color: $color-text-5;
		@include phone-l {
			justify-content: flex-start;
		}
		&:hover {
			color: $color-text-3;
			& span {
				margin-right: 20px;
			}
		}
		& span {
			display: block;
			margin-right: 12px;
			transition: all 0.3s ease-in-out;
			color: $color-text-3;
		}
	}
}
