@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.deals {
	padding: 40px 0;
	background-color: $color-bg-2;
	@include phone-l {
		padding: 80px 0;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		position: relative;
		@include tablet-p {
			flex-direction: row;
			gap: 0px;
		}
	}
	&__image-container {
		flex: 0 0 100%;
		text-align: center;
		@include tablet-p {
			flex: 0 0 50%;
		}
	}
	&__image {
		width: 100%;
		max-width: 500px;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__content-container {
		flex: 0 0 100%;
		position: relative;
		@include tablet-p {
			flex: 0 0 50%;
		}
	}
	&__btn {
		width: fit-content;
		margin-top: 50px;
	}
	&__title {
		line-height: 2.25rem;
		color: $color-text-1;
		font-family: $font-family-1;
		font-size: 40px;
		font-weight: 700;
		& span {
			color: $color-text-3;
		}
	}
	&__title-after {
		margin-top: 20px;
		text-transform: uppercase;
		line-height: 22px;
		font-family: $font-family-1;
		font-size: 20px;
		font-weight: 300;
	}
	&__text {
		margin-top: 35px;
		line-height: 1.5;
		font-size: 14px;
	}
	&__off-outer {
		width: 110px;
		height: 110px;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	&_ &__off {
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__off-under {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 110px;
		height: 110px;
		border: 5px dotted $color-bg-12;
		border-radius: 50%;
		position: absolute;
		top: 0px;
		left: 0px;
		animation: 10s pulse infinite linear;
		@include phone-l {
			top: -36px;
			left: 70px;
		}
		@include tablet-p {
			top: 0px;
			left: 20px;
		}
		@include tablet-l {
			top: -36px;
			left: 90px;
		}
		@include desktop {
			top: -36px;
			left: 130px;
		}
		& span {
			display: block;
		}
	}
	&__off-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 94px;
		height: 94px;
		border-radius: 50%;
		position: absolute;
		top: 8px;
		left: 8px;
		background-color: $color-bg-3;
		@include phone-l {
			top: -28px;
			left: 78px;
		}
		@include tablet-p {
			top: 8px;
			left: 28px;
		}
		@include tablet-l {
			top: -28px;
			left: 98px;
		}
		@include desktop {
			top: -28px;
			left: 138px;
		}
	}
	&__off-perc {
		font-size: 24px;
		font-weight: 700;
	}
	&__off-text {
		font-size: 14px;
	}
}

.counter {
	display: flex;
	justify-content: flex-start;
	gap: 4px;
	margin-top: 25px;
	&__completed {
		padding: 20px;
		border: 2px solid $color-bg-3;
		line-height: 1.4em;
		letter-spacing: 1px;
		color: $color-text-3;
		font-size: 30px;
		font-weight: 700;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 65px;
		height: 65px;
		padding: 20px;
		border: 2px solid $color-bg-3;
		text-align: center;
		@include phone-l {
			width: 82px;
			height: 82px;
		}
	}
	&__number {
		line-height: 1.4em;
		letter-spacing: 1px;
		color: $color-text-3;
		font-size: 30px;
		font-weight: 700;
	}
	&__text {
		text-transform: capitalize;
		line-height: 1em;
		font-size: 13px;
	}
}
@keyframes pulse {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
