@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.error-container {
	height: 35px;
	padding: 5px 20px;
	color: $color-bg-7;
	font-family: $font-family-1;
	font-size: 16px;
}
