// BREACKPOINTS ----------------------------------------------

$max-width-phone: 576px;
$max-width-tablet-p: 768px;
$max-width-tablet-l: 992px;
$max-width-desktop: 1200px;
$max-width-desktop-big: 1400px;

// COLORS ----------------------------------------------

$color-text-1: #051922;
$color-text-2: #fff;
$color-text-3: #f28123;
$color-text-4: #69757a;
$color-text-5: #b4babd;

$color-bg-1: #051922;
$color-bg-2: #f5f5f5;
$color-bg-3: #f28123;
$color-bg-4: #374b56;
$color-bg-5: rgba(5, 25, 34, 0.8);

$font-family-1: "Poppins", sans-serif;
$font-family-2: "Open Sans", sans-serif;
