$color-text-1: rgb(88, 82, 128);
$color-text-2: rgb(170, 165, 165);
$color-text-3: rgb(178, 191, 225);
$color-text-4: rgb(255, 255, 255);

$color-bg-1: rgb(255, 255, 255);
$color-bg-2: rgb(248, 248, 248);
$color-bg-3: rgb(88, 82, 128);
$color-bg-4: rgb(48, 44, 64);
$color-bg-5: rgb(44, 40, 57);
$color-bg-6: rgb(93, 195, 153);

$color-bg-7: rgb(117, 194, 130);
$color-bg-8: rgb(255, 208, 86);
$color-bg-9: rgb(241, 126, 126);

$color-bg-10: rgb(128, 74, 216);
$color-bg-11: rgb(98, 75, 217);

$color-bg-12: rgba(0, 0, 0, 0.1);

$font-family-1: Roboto, sans-serif;
