@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.shop {
	padding-top: 50px;
	&__products-panel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;
		border-bottom: 1px solid $color-bg-3;
	}
	&__quantity {
		font-family: $font-family-1;
		& span {
			font-weight: 600;
		}
	}
	&__sorting-container {
		width: 180px;
		height: 40px;
		position: relative;
		font-family: $font-family-1;
		font-size: 14px;
	}
	&__sorting-btn {
		width: 180px;
		height: 40px;
		padding: 10px 20px;
		border: 1px solid $color-bg-9;
		position: absolute;
		top: 0px;
		left: 0px;
		transition: all 0.1s ease-in-out;
		cursor: pointer;
		&:hover {
			background-color: $color-bg-9;
		}
	}
	&__sorting-btn + &__sorting {
		width: 180px;
		border-right: 1px solid $color-bg-9;
		border-bottom: 1px solid $color-bg-9;
		border-left: 1px solid $color-bg-9;
		position: absolute;
		top: 40px;
		left: 0px;
		z-index: 2;
		transition: all 0.1s ease-in-out;
		visibility: hidden;
		background-color: $color-bg-2;
	}
	&__sorting-btn--active + &__sorting {
		height: auto;
		visibility: visible;
	}

	&__sorting-item {
		padding: 10px 20px;
		cursor: pointer;
		&:hover {
			background-color: $color-bg-9;
		}
	}
}
