@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	transition:
		all 0.3s ease-in-out,
		width 0s;
	scrollbar-gutter: stable;
	@include phone-l {
		height: 80px;
	}
	@include tablet-l {
		height: 110px;
	}
	&::after {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
		transition:
			all 0.3s ease-in-out,
			width 0s;
		transition-delay: 0s;
		background-color: transparent;
		content: '';
	}
	&--fixed {
		height: 70px;
		position: fixed;
		background-color: $color-bg-1;
		@include phone-l {
			height: 80px;
		}
		@include tablet-l {
			height: 90px;
		}
		@include tablet-l {
			&::after {
				background-color: transparent;
			}
		}
		&::after {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			transition: 0;
			background-color: $color-bg-1;
			content: '';
		}
	}

	&--active {
		&::after {
			z-index: 4;
			transition:
				all 0.1s ease-in-out,
				width 0s;
			transition-delay: 0.3s;
			background-color: $color-bg-1;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.menu-lock &,
	.cart-lock & {
		width: calc(100% - var(--scrollbar-width));
	}
}
