.header {
	background-color: rgb(150, 217, 255);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		height: 100px;
	}
	&__logo {
		display: inline-block;
	}
	&__menu {
	}
}
