@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.tools {
	display: flex;
	justify-content: center;
	gap: 10px;
	position: relative;
	z-index: 5;
	&__item {
		display: block;
		color: $color-text-2;
		cursor: pointer;
		padding: 20px 10px;
		transition: all 0.3s ease-in-out;
		font-size: 20px;
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include phone-l {
			font-size: 26px;
			width: 40px;
			height: 40px;
		}
		@include tablet-l {
			font-size: 30px;
			width: 50px;
			height: 50px;
		}
		&:hover {
			color: $color-text-3;
		}
	}
}

.burger {
	@include tablet-l {
		display: none;
	}
	&--active {
		display: inherit;
	}
}
