@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.subscribe {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	&__input {
		display: block;
		flex-grow: 1;
		width: 100%;
		padding: 15px 10px;
		outline: 1px solid $color-bg-6;
		border: 1px solid $color-bg-6;
		border-radius: 5px 0 0 5px;
		background-color: $color-bg-6;
		color: $color-bg-2;
		&:focus {
			outline: 1px solid $color-bg-2;
			border: 1px solid $color-bg-1;
		}
		&--error,
		&--error:focus {
			outline: 1px solid $color-bg-7;
		}
	}
	&__btn {
		display: block;
		padding: 15px 10px;
		outline: 1px solid $color-bg-6;
		border: 1px solid $color-bg-6;
		border-radius: 0 5px 5px 0;
		transition: all 0.3s ease-in-out;
		background-color: $color-bg-6;
		color: $color-text-3;
		&:hover {
			outline: 1px solid $color-bg-3;
			border: 1px solid $color-bg-3;
			background-color: $color-bg-3;
			color: $color-text-1;
		}
	}
}
