@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
	background-color: $color-bg-1;
	color: #fff;
	@include phone-l {
	}
	@include tablet-l {
	}
	&__container {
		display: grid;
		gap: 50px 30px;
		grid-template-columns: 1fr;
		padding: 50px 0;
		text-align: center;
		@include phone-l {
			gap: 50px 30px;
			grid-template-columns: 1fr 1fr;
			padding: 80px 0;
			text-align: left;
		}
		@include tablet-l {
			gap: 30px 30px;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			padding: 120px 0;
		}
		& p + p {
			margin-top: 20px;
		}
	}
	&__title {
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		color: #fff;
		font-family: $font-family-1;
		font-size: 24px;
		font-weight: 500;
		&::after {
			width: 60px;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0);
			background-color: #f28123;
			content: '';
			@include phone-l {
				width: 40px;
				left: 0;
				transform: translate(0, 0);
			}
		}
	}
	&__content {
		color: $color-text-5;
		font-family: $font-family-1;
		font-size: 15px;
		& .subscribe {
			width: 80%;
			margin: 20px auto;
			@include phone-l {
				width: initial;
				margin: 20px 0 0 0;
			}
		}
	}
	&__inner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		padding: 30px 0;
		color: $color-text-5;
		font-size: 15px;
		@include phone-l {
			justify-content: space-between;
			flex-direction: row;
		}
		& a {
			transition: all 0.3s ease-in-out;
			color: $color-text-3;
			font-weight: 700;
			&:hover {
				color: $color-text-5;
			}
		}
	}
	&__copy-container {
		border-top: 1px solid $color-bg-8;
	}
	&__copy {
		text-align: center;
	}
}
