@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	font-size: 20px;
	&__item {
		font-size: 24px;
	}
	&__item a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item a:hover {
		transform: rotateZ(360deg);
		transition: all 0.3 ease-in-out;
		font-size: 24px;
	}
}
