@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	font-size: 20px;
	&__item {
		font-size: 24px;
	}
	&__item a {
		display: inline-block;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item a:hover {
		font-size: 24px;
		transition: all 0.3 ease-in-out;
		transform: rotateZ(360deg);
	}
}
