@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.section-card-header {
	&__title {
		padding-bottom: 15px;
		position: relative;
		text-align: center;
		line-height: 2.25rem;
		color: $color-text-1;
		font-family: $font-family-1;
		font-size: 40px;
		font-weight: 700;
		&::after {
			width: 50px;
			height: 2px;
			margin: 0 auto;
			position: absolute;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-color: $color-bg-3;
			content: '';
		}
		& span {
			color: $color-text-3;
		}
	}
	&__text {
		max-width: 530px;
		margin: 20px auto 0;
		text-align: center;
		line-height: 1.8;
		color: $color-text-6;
		font-size: 15px;
	}
}
