@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "./styles/reset";

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 1px;
}

.wrapper {
	max-width: 1380px;
	padding: 0 30px;
	margin: 0 auto;
}

.page-content {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
