@use './styles/variables' as *;
@use './styles/mixins' as *;
@import './styles/reset';
@import './styles/fonts';

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	min-height: 100vh;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

body {
	overflow-y: scroll;
}

.menu-lock {
	margin-right: var(--scrollbar-width);
	overflow: hidden;
}

.cart-lock {
	margin-right: var(--scrollbar-width);
	overflow: hidden;
}

#root {
	height: 100%;
}

.wrapper {
	width: 100%;
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 10px;
	@include phone-l {
		padding: 0 30px;
	}
}

.page-content {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin-top: 50px;
}

.mockup {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__section {
		&--main {
			flex-grow: 1;
		}
	}
}

.home {
	height: 100vh;
}
