@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "./styles/reset";
@import "./styles/fonts";

html,
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
	min-height: 100vh;
	height: 100%;
}

body {
}

#root {
	height: 100%;
}

.wrapper {
	max-width: 1380px;
	padding: 0 30px;
	margin: 0 auto;
	width: 100%;
}

.page-content {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.mockup {
	display: flex;
	flex-direction: column;
	height: 100%;
	&__section {
		&--main {
			flex-grow: 1;
		}
	}
}

.home {
	height: 1200px;
	background-color: #374b56;
}
