* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

a,
a:hover {
  text-decoration: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Card Characters";
  src: url("../assets/fonts/cardcharacters/CardCharacters.woff2") format("woff2"), url("../assets/fonts/cardcharacters/CardCharacters.woff") format("woff"), url("../assets/fonts/cardcharacters/CardCharacters.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  height: 100vh;
  background-image: url("../assets/images/desk_bg.png");
  font-family: "Card Characters";
  font-size: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-auto-rows: 200px;
  gap: 10px;
}
@media (min-width: 576px) {
  .table {
    grid-template-columns: repeat(3, 140px);
  }
}
@media (min-width: 768px) {
  .table {
    grid-template-columns: repeat(4, 140px);
  }
}
@media (min-width: 992px) {
  .table {
    grid-template-columns: repeat(6, 140px);
  }
}
@media (min-width: 1400px) {
  .table {
    grid-template-columns: repeat(9, 140px);
  }
}

.card-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card-containerinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: calc(0.05s * var(--i));
          animation-delay: calc(0.05s * var(--i));
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.card-container:hover .card-containerinner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
.deck {
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/deck.svg");
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
}

.card {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card__container {
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__container-inner {
  height: 100%;
}
.card__number-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 25px;
}
.card__suite-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__suite-row--r180deg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.card__suite-row-asolute {
  position: absolute;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card__suite-row-asolute--910 {
  position: absolute;
  top: 21%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card__suite-row-asolute--910r {
  position: absolute;
  bottom: 21%;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(180deg);
      -ms-transform: translate(-50%, 0) rotate(180deg);
          transform: translate(-50%, 0) rotate(180deg);
}
.card__container svg {
  width: 25px;
  height: 25px;
}
.card__value {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 10px;
  left: 10px;
  padding: 0 5px 5px 0;
  background-color: #fff;
}
.card__value-r180deg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  position: absolute;
  width: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 10px;
  right: 10px;
  padding: 0 5px 5px 0;
  background-color: #fff;
}
.card__suite {
  margin-top: 5px;
}
.card__suite svg {
  width: 15px;
  height: 15px;
}
.card__rang-container {
  text-align: center;
}
.card__rang-container--10 {
  margin-left: -6px;
  -webkit-transform: scale(0.7, 1);
      -ms-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
}

.pic {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px 12px;
}
.pic__container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: bottom;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 1px solid #222;
  border-radius: 0 5px 0 0;
}
.pic__container:last-child {
  border-bottom: 1px solid #222;
}
.pic__container--r180deg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pic__container--a {
  width: 100%;
  height: 100%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pic__container--a span {
  font-size: 60px;
}
.pic__container--diamonds-j {
  background-image: url("../assets/images/diamonds-j.svg");
}
.pic__container--diamonds-q {
  background-image: url("../assets/images/diamonds-q.svg");
}
.pic__container--diamonds-k {
  background-image: url("../assets/images/diamonds-k.svg");
}
.pic__container--hearts-j {
  background-image: url("../assets/images/hearts-j.svg");
}
.pic__container--hearts-q {
  background-image: url("../assets/images/hearts-q.svg");
}
.pic__container--hearts-k {
  background-image: url("../assets/images/hearts_k.svg");
}
.pic__container--spades-j {
  background-image: url("../assets/images/spades-j.svg");
}
.pic__container--spades-q {
  background-image: url("../assets/images/spades-q.svg");
}
.pic__container--spades-k {
  background-image: url("../assets/images/spades-k.svg");
}
.pic__container--clubs-j {
  background-image: url("../assets/images/clubs-j.svg");
}
.pic__container--clubs-q {
  background-image: url("../assets/images/clubs-q.svg");
}
.pic__container--clubs-k {
  background-image: url("../assets/images/clubs-k.svg");
}

.clubs,
.spades {
  color: #222;
}

.diamonds,
.hearts {
  color: #d40000;
}

.suite-diamonds,
.suite-hearts {
  fill: #d40000;
}

.suite-clubs,
.suite-spades {
  fill: #222;
}