@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('/styles/reset.css');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #070707;
}

h1,
h2 {
	margin-block-start: 0;
	margin-inline-end: 0;
}

main,
header,
footer {
	text-align: center;

}

nav {
	margin: 28px 0;
}

nav ul li {
	display: inline-block;
	margin-left: 40px;
}

nav ul li a {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	color: #828282;
}

nav ul li a.home {
	color: #070707;
}

nav ul li a:visited {
	color: #828282;
}

nav ul li a.home:visited {
	color: #070707;
}

nav ul li a:hover {
	color: #070707;
}

nav ul li a:active {
	color: #828282;
}

hr {
	border: 1px solid #828282;
	margin: 0;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 65px;
	margin: 12px 0 50px;
	text-align: left;
}

h2 {
	font-weight: 700;
	font-size: 34px;
	line-height: 46px;
}

h2.m20 {
	margin: 0 0 20px 0;
}

h2.m50 {
	margin: 0 0 50px 0;
}

p {
	margin: 30px 0;
	font-size: 18px;
	line-height: 25px;
}

p.m20 {
	margin: 20px 0 30px;
}

p:first-child {
	margin: 20px 0 0 0;
}

.portfolio p {
	margin: 40px 0 70px 0;
}

.portfolio p:last-child {
	margin: 40px 0 0 0;
}

.mainphotowrapper,
.wrapper,
.header-wrapper {
	width: 970px;
	margin: 0 auto;
}

.mainphotowrapper img {
	width: 100%;
}

.wrapper {
	padding: 100px 0;
}

main section:nth-child(even) {
	background-color: #F6F6F6;
}

.send {
	margin: 40px 0 30px;
	background-color: black;
	padding: 10px 16px;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.1em;
	color: white;
	border-radius: 22px;
	text-align: center;
}

.likeme {
	font-size: 14px;
	line-height: 19px;
	width: 200px;
	color: #828282;
	margin: 0 auto;
}

.socialicons {
	width: 310px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 60px;
}

.skillicons {
	display: flex;
	justify-content: space-between;
	margin: 50px auto 0;
}

.portfolio .wrapper p a {
	color: #070707;
	text-decoration: underline;
}

.portfolio .wrapper p a:hover {
	color: #828282;
	text-decoration: none;
}

.portfolio .wrapper p a:active {
	color: #070707;
	text-decoration: underline;
}