@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.contacts {
	&__item + &__item {
		margin-top: 15px;
	}
	&__item-link,
	& span {
		display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 12px;
		color: $color-text-5;
		transition: all 0.3s ease-in-out;
		@include phone-l {
			justify-content: flex-start;
		}
		& span {
			color: $color-text-3;
		}
	}

	&__item-link {
		&:hover {
			color: $color-text-3;
		}
	}
}
