@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.section-cards {
	padding: 50px 0;
	@include phone-l {
		padding: 80px 0;
	}
	@include tablet-l {
		padding: 120px 0;
	}
	&__body {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 50px 30px;
	}
}
