@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.slider-hero {
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next,
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		display: none;
		font-weight: 700;
		@include phone-l {
			display: initial;
			transition: opacity 0.3s ease-in-out;
			color: $color-bg-3;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		left: 20px;
		@include tablet-p {
			left: 40px;
		}
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		right: 20px;
		@include tablet-p {
			right: 40px;
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin: 0 10px !important;
		opacity: 0.4;
		background-color: $color-bg-3;
		@include phone-l {
			width: 15px;
			height: 15px;
		}
		&.swiper-pagination-bullet-active {
			opacity: 1;
			background-color: $color-bg-3 !important;
		}
	}
	.swiper-pagination {
		bottom: 20px !important;
		@include phone-l {
			bottom: 30px !important;
		}
	}
}
