@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.home-blog-section {
	&__container {
		display: grid;
		justify-content: center;
		gap: 40px 40px;
		grid-template-columns: 1fr;
		width: fit-content;
		margin: 0 auto;
		margin-top: 50px;
		@include phone-l {
			grid-template-columns: 1fr 1fr;
		}
		@include tablet-l {
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 80px;
		}
	}
	&__btn {
		width: fit-content;
		margin: 50px auto 0;
	}
}
